<template name="praiseBlog">
	<div class="praiseBlog">

		<h2>Praise Me Thanks</h2>


		<h3>Pick a User to Praise </h3>
		<select id="praise-user" data-bind="selected-user">
			{{#each offlineUsers}}
				<option>{{username}}</option>
			{{/each}}
			{{#each onlineUsers}}
				<option>{{username}}</option>
			{{/each}}

		</select>
		<!-- add a form below the h1 -->
		<br>
		{{#if currentUser}}
		<h3>Give them some praise </h3>
		Add a Praise Me Callout
		<form class="newPraisePostForm">
			<span data-bind="selected-user"></span>
			<input class="addNewPraisePost" type="textarea" name="text" placeholder="Type to add new praise" />
		</form>
		{{/if}}

	</div>

	<ul>
		{{#each praisePosts}} {{> praisePost}} {{/each}}
	</ul>
</template>