<template name="praiseBlog">
	<div class="praiseBlog">
		<div class="panel panel-default give-plaudit-container row">
			<div class="pludit-thanks col-xs-12 col-sm-12 col-lg-4">
				<div class="sticky-title">
					<img src="/images/plaudits-logo-white-transparent.png" style="width: 200px;">
					<h2>Tell us, who made your day</h2>
					<p>Select person and enter thank you note.</p>
				</div>
			</div>
			<div class="pludit-form col-xs-12 col-sm-12 col-lg-8">
				<!-- add a form below the h1 -->
				<br>
				{{#if currentUser}}
				<label>Select person</label>
				<select id="praise-user" style="width: 100%;" >
					{{#each allUsers i}}
							<option>{{this}}</option>
					{{/each}}

				</select>

				<label>Enter thank you note </label>
				<form class="newPraisePostForm">
					<textarea style="width: 100%;" class="addNewPraisePost" type="textarea" name="text" placeholder="Plaudit....."></textarea>
					<input style="width: 100%;" type="submit" class="submit-plaudit" value="Send Plaudit">
				</form>
				{{else}}
					<h3>Please Login above to Give some Plaudits to a team member</h3>
				{{/if}}
			</div>
		</div>

	</div>
</template>


