<template name="praiseBlog">
	<div class="praiseBlog">
		<div class="panel panel-default">

			<h2>Give Plaudits</h2>



			<!-- add a form below the h1 -->
			<br>
			{{#if currentUser}}
			<h3>Pick a User to Praise </h3>
			<select id="praise-user" >
				{{#each allUsers i}}
					<option>{{this}}</option>
				{{/each}}

			</select>

			<h3>Give them some praise </h3>
			<form class="newPraisePostForm">
				<input class="addNewPraisePost" type="textarea" name="text" placeholder="Plaudit....." />
				<input type="submit" class="submit-plaudit" value="Send Plaudit">
			</form>
			{{else}}
				<h3>Please Login to Give some Plaudits to a team member</h3>
			{{/if}}
		</div>

	</div>
		<div class="panel panel-default">
			{{#each praisePosts}} {{> praisePost}} {{/each}}
		</div>
</template>


